.git
.gitignore
.env
.env.*
credentials.json
*.json
!dummy_prices.xlsx
bin/
.github/
deployments/docker-compose.yml
**/*_test.go
coverage.out
.idea/
.vscode/
*.swp
*.md
!go.mod
!go.sum
docs/
wiki/
LICENSE
